* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.title{
    font-size: 40px;
    background-color:lightblue;
    color: rgb(68, 68, 68);

}
.griditem {
    border:1px solid red;
  }
  .input{
    font-size: 25px;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    margin-top: 10px;
    /*border:1px solid red;*/
}

.button {
    background-color: rgb(63, 65, 189);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 10px;
}
#picture{
    justify-content: center;
    margin-top: 20px;
}
#picture div{
        width: 400px;
        height: auto;
}
.img{
    width: 100%;
    height: auto;
}

[class*="col-"] {
    float: left;
    padding: 10px;
  }
.name{
    font-size: 15px;
}
.be{
    font-size: 25px;
}

@media only screen and (max-width:765px) {
    [class*="col-"] {
        width: 100%;
    }
    
      .blank{
          display: none;
      }

}
select,option ,input[type="text"]{
    width: 100%;
}